
  <div class="main-content">
<%- include("./partials/header") %>

  <!-- <h1><%= title %></h1> -->
  <!-- <p>It 's created by <%= name  %> </p> -->

  <p>Use this site your weather  !</p>


  <form action="">
    <input type="text" placeholder="Location">
    <button>Search</button>
  </form>

  <p id="message-1"></p>
  <p id="message-2"></p>

  </div>

<%- include("./partials/footer") %>